* {
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    margin-bottom: 50px;
}

#searchsection{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(228, 228, 228);
    background: rgb(242, 242, 242);
}

#searchbar {
    text-align: center;
}

#searchbar form input {
    width: 700px;
    height: 35px;
    font-size: 1em;
}

#logo h1 {
    font-size: 50px;
    text-align: center;
}

#result_meta_data {
    padding-top: 20px;
    padding-left: 150px;
}

#resultsection {
    width: 920px;
    margin: auto;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: rgb(242, 242, 242);
    border-top: 1px solid rgb(228, 228, 228);
    padding: 10px 100px;
}