<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <script src="{{ url_for('static', filename='site.js')}}"></script>
    </head>

    <body>
            <div id="wrapper">
                <div id="searchsection">
                    <div id="logo">
                        <h1> Concept Search </h1>
                    </div>
                    <br>
                    <div id="searchbar">
                        <form action="/api" autocomplete="off">
                            <input type="text" name="query" id="querybar" onkeyup="searchQuery();">
                        </form>
                    </div>
                    <div id="result_meta_data">
                        
                    </div>
                </div>
                <div id="resultsection">
                    <div id="search_result">
        
                    </div>
                </div>
            </div>
            <div id="footer">
                <footer>
                    <span> © 2018. Concept Search</span>
                </footer>
            </div>
        
        </body>
</html>