<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='site.js')}}"></script>
        
    </head>

    <body>
            <div id="wrapper">
                <div id="searchsection">
                    <div id="logo">
                        <h1> 
                            <a href="/" style="text-decoration: none;">Concept Search</a>
                            <img src="{{ url_for('static', filename='searchicon.png')}}">
                        </h1>
                        <em>Search machine learning papers from Arxiv based on concept</em>
                    </div>
                    <br>
                    <div id="searchbar">
                        {% block searchbar %}
                        {% endblock %}
                    </div>
                    <div id="result_meta_data">
                        {% block result_meta_data %}
                        {% endblock %}
                    </div>
                </div>
                <div id="resultsection">
                    {% block resultsection %}
                    {% endblock %}
                </div>
            </div>
            <div id="footer">
                <footer>
                    <span> © 2018. Concept Search</span>
                </footer>
            </div>
        
        </body>
</html>